.md-sidebar--secondary {
    display: none!important;
}


@media screen and (min-width: 769px), print {
    .level {
        display: flex;
    }
    .level {
        align-items: center;
        justify-content: space-between;
    }
    .level>.level-item:not(.is-narrow) {
        flex-grow: 1;
    }
    .level-item {
        align-items: center;
        display: flex;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
    }
}

.has-text-centered {
    text-align: center !important;
}

nav {
    display: block;
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title {
    color: hsl(0deg, 0%, 21%);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin: 0;
}

.subtitle, .title {
    word-break: break-word;
}